.wrapper.wrapper--main-container.wrapper--article-container
  h1.article__title #{context.metadata.title}
  p.article__subtitle Published at #{context.metadata.date} by mrmnmly

.wrapper.wrapper--main-container.wrapper--article-container
  article.article__content !{context.html}
