.wrapper.wrapper--main-container
  .flex-row
    .flex-row__item.flex-row__item--single.flex-row__item--promo-tile Mrmnmly
    .flex-row__item.flex-row__item--double.flex-row__item--content-tile.flex-row__item--transparent-tile
      h2 Front-end engineer
      p
        | Hi, I'm mrmnmly - a web developer from Poland with&nbsp;
        span#experience__years-counter 6
        | + years of experience working both on client & server side of web applications. I create nice and useful things for the Internet people.
  .flex-row
    .flex-row__item.flex-row__item--single.flex-row__item--centered-tile Web apps
    .flex-row__item.flex-row__item--single.flex-row__item--centered-tile Hybrid Mobile apps
    .flex-row__item.flex-row__item--single.flex-row__item--centered-tile Product Design
  .flex-row
    .flex-row__item.flex-row__item--double.flex-row__item--content-tile
      h2 Programming stack
      p
        | HTML5, CSS3, JavaScript, Vue.js, Node.js / Express.js, Phonegap / Cordova, Wordpress.
    .flex-row__item.flex-row__item--single.flex-row__item--centered-tile Tech blogging
  .flex-row
    .flex-row__item.flex-row__item--single.flex-row__item--centered-tile.flex-row__item--avatar-bg
    a.flex-row__item.flex-row__item--double.flex-row__item--centered-tile.flex-row__item--hover-blue-bg.flex-row__item--clickable.flex-row__item--horizontal-padding-tile(href="/about/") About me
  .flex-row
    a.flex-row__item.flex-row__item--single.flex-row__item--centered-tile.flex-row__item--hover-blue-bg.flex-row__item--clickable(href="https://github.com/mrmnmly") Github
    a.flex-row__item.flex-row__item--single.flex-row__item--centered-tile.flex-row__item--hover-blue-bg.flex-row__item--clickable(href="https://twitter.com/mrmnmly") Twitter
    a.flex-row__item.flex-row__item--single.flex-row__item--centered-tile.flex-row__item--hover-blue-bg.flex-row__item--clickable(href="https://instagram.com/mrmnmly") Instagram
