.wrapper.wrapper--main-container
  .flex-row.flex-row--wrap
    .flex-row__item.flex-row__item--single.flex-row__item--list-header-wrapper
      h2.flex-row-item__title Projects
      p Curated list of stuff that I have made.
  .flex-row.flex-row--wrap
    for item in context.list
      a(href=`${item.slug}/`).flex-row__item.flex-row__item--fixed-size.flex-row__item--clickable
        .flex-row-item__content-wrapper
          h2 #{item.meta.title}
          p Created at #{item.meta.date} by mrmnmly
