html
  head
    include ../partials/head.pug
  body
    include ../partials/nav.pug
    include ../partials/notes-list-content.pug
    include ../partials/footer.pug
    include ../partials/scripts.pug
